@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

.satoshi-font {
  font-family: "Satoshi";
}

.manrope-font {
  font-family: "Manrope";
}
